
*{
  margin:0;
  margin-left: 40px;
  margin-right: 40px;
}
.App{
  background-color: #fafafa;
}
.Header_App{
  object-fit: contain;
  display: flex;
  justify-content: center;
  border-bottom:1px solid lightgray ;
}

.Header_App img{
  height: 70px;
}

.model{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.log{
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width:800px){
  *{
    margin:0;
    margin-left: 3px;
    margin-right: 3px;
  }
}
